.container {
  margin-left: 300px;
  margin-right: 0px;
}

@media only screen and (max-width: 1023px) {
  .container {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 1023px) {
  .close-nav-bar {
    display: none;
  }
}

/* Preserve whitespace in ReactQuill editor */
.preserve-whitespace .ql-editor {
  white-space: pre-wrap !important;
}

/* Ensure proper line spacing in description display */
.leading-relaxed br {
  line-height: 1.6;
  display: block;
  margin-bottom: 0.5em;
}