@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: #010101;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}

.dashboard-navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
}

.dashboard-nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

.dashboard-nav a:hover {
	color: var(--secondaryColor);
}

.dashboard-navbar .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

  input[type=search]{
  width: 200px;
  height: 30px;
  font-size: 16px;
  padding: 0px 20px 0px 20px;
  border-radius: 40px;
  outline: none;
  border: solid var(--textColor) 2px;
  color: black;
  }

header div,
.dashboard-nav {
	display: flex;
	align-items: center;
}

@media only screen and (min-width: 1605px) {
	.dashboard-navbar {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  height: 80px;
	  padding: 0 2rem;
	  background-color: var(--mainColor);
	  color: var(--textColor);
	  width: 1500px;
	  margin-left: 320px;
	}
  
  
	header div,
	.dashboard-nav {
	  display: flex;
	  align-items: center;
	margin-left: 150px;
  }
  
  .dashboard-navbar form{
	width: 100px;
	margin: 50px auto;
	color: black;
	}
  }

@media only screen and (max-width: 1605px) and (min-width: 1030px) {
.dashboard-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
    width: 1180px;
    margin-left: 320px;
  }


  header div,
  .dashboard-nav {
	display: flex;
	align-items: center;
  margin-left: 150px;
}

.dashboard-navbar form{
  width: 100px;
  margin: 50px auto;
  color: black;
  }
}

@media only screen and (max-width: 1024px) {
.dashboard-navbar {
    height: 70px;
  }

  .dashboard-navbar .nav-btn {
		visibility: visible;
		opacity: 1;
    position: absolute;
    top: 1rem;
		right: 2rem;
	}

	.dashboard-navbar nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
		transform: translateY(-100vh);
	}

	.dashboard-navbar .responsive_nav {
		transform: none;
	}

	.dashboard-nav .nav-close-btn {
		position: absolute;
		top: 1.25rem;
		right: 2rem;
	}

	.dashboard-nav a {
		font-size: 1.5rem;
	}

}