@media only screen and (max-width: 1023px) {
  .sidebar {
    display: none;
  }
}

@media only screen and (max-height: 659px) {
  .sidebarNotFixed {
    position: static;
  }
}

.visible-sidebar {
  display: block !important;
}
