@tailwind base;
@tailwind components;
@tailwind utilities;

/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');*/

.cancelButton {
    display: flex;
    gap: 1rem;
}

.errorPage {
    position: relative;
    top: 5rem;
    bottom: 5rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 60%;
    height: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    padding: 50px;
}

/* @keyframes displace {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(-90deg); }
    40% { transform: rotate(0deg); }
    60% { transform: rotate(0deg); }
    80% { transform: rotate(90deg); }
    100% { transform: rotate(0deg); }
}
@keyframes flip {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(-90deg); }
    40% { transform: rotate(0deg); }
    60% { transform: rotate(0deg); }
    80% { transform: rotate(90deg); }
    100% { transform: rotate(0deg); }
} */

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-wheel {
    border: 8px solid #60a5fa; /* You can customize the color */
    border-top: 8px solid #fff; /* You can customize the color */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: rotate 1s linear infinite;
}

#finalbutton:hover {
    transform: scale(1.02);
}

.err {
    color: rgb(255, 0, 0);
    font-family: sans-serif;
    font-size: small;
}

/*Override Material-tailwind style */
.base-bg-slate-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(71 85 105 / var(--tw-bg-opacity));
}