@tailwind base;
@tailwind components;
@tailwind utilities;


.cancelButton{
    display: flex;
    gap: 1rem;
}

.errorPage{
    margin-top: 20rem;
    margin-left: 45%;
}

#finalbutton:hover{
    transform: scale(1.02);
}

